body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
}

nav{
    position: relative;
    display: flex;
    align-content: flex-end;
}
nav ul{
    display: flex;
   
}
nav ul li
{
    text-decoration: none;
    color: rgb(61, 176, 191);
    list-style-type: none;
    margin-left: 10px;
}
nav ul li a{
    color: white;
}

.section-title{
    color: rgb(0, 145, 255);
    font-size: 36px;
    font-weight:bold;
}