header{
    background-color: black;
    height: 100px;
    display: flex;
    position: relative;
}
.rooms{
    margin: 30px;
    padding: 20px;
}
.rooms-container{
    display: flex;
    justify-items: flex-start;
    margin: 20px;
}
.room-type{
    width: 300px;
    height: 40vh;
    background-repeat: no-repeat;
    margin: 20px;
}
